# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore all model/data files globally...
*.pkl
*.csv
*.json

# ...except allow model files in Models/ folder
!Models/*.pkl
